body{
    background-color:#000;
    color:#FFF;
}

main{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

main a{
    text-decoration:none;
    color:green;
}